@media only screen and (max-width: 500px) {

  #nav a {
    padding: 0 0 0 10px;
  }

  #nav .right a {
    padding-top: 5px;
  }

  #home h1 {
    font-size: 3em;
  }

  #home h2.caption {
    top: 70vh;
  }

  #home::after {
    position: absolute;
    content: "";
    top: 0; right: 0; bottom: 0; left: 0;
    background-image: linear-gradient(183deg, rgba(255, 255, 255, 0) 85%, rgb(244, 115, 225) 85%);
    z-index: -100;
  }

  .content-small {
    width: 80vw;
  }

  #contact {
    min-height: 40vh;
    padding-bottom: 50px;
  }

  .flex-tool {
    flex-wrap: wrap;
  }

  .tool {
    padding: 5px;
  }

  #about {
    padding-bottom: 150px;
  }

  .remodal {
    width: 80vw;
  }

}
